.contentWrapper {
  max-width: 1138.333333px;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 453px;
  columns: 120px;
  position: relative;
}

.contentSigned::before {
  content: "";
  height: 100vh;
  width: 420px;
  background: url("./assets/background.svg") no-repeat;
  background-size: cover;
  position: absolute;
  right: -69.3px;
  top: 0;
}
